<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="scriptNg.js" type="text/javascript"></script>
    <link rel="stylesheet" href="styleNg.css"/>
</head>
<body>

<div class="mainDiv container" ng-app="gameApp" ng-controller="mainController">
    <br/>
    <div id="inputDivId">
        <span class="boldClass">Quick Search:</span> <input id="searchId" type="text" placeholder="Search Game" ng-model="searchGame">
    </div>
    <br/>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td class="headerLabel" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                <span>
                    Title
                    <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-angle-down"></span>
                    <span ng-show="sortType == 'title' && sortReverse" class="fa fa-angle-up"></span>
                </span>
            </td>
            <td class="headerLabel" ng-click="sortType = 'platform'; sortReverse = !sortReverse">
                <span>
                    Platform
                    <span ng-show="sortType == 'platform' && !sortReverse" class="fa fa-angle-down"></span>
                    <span ng-show="sortType == 'platform' && sortReverse" class="fa fa-angle-up"></span>
                </span>
            </td>
            <td class="headerLabel" ng-click="sortType = 'score'; sortReverse = !sortReverse">
                <span>
                    Score
                    <span ng-show="sortType == 'score' && !sortReverse" class="fa fa-angle-down"></span>
                    <span ng-show="sortType == 'score' && sortReverse" class="fa fa-angle-up"></span>
                </span>
            </td>
            <td class="headerLabel" ng-click="sortType = 'genre'; sortReverse = !sortReverse">
                <span>
                    Genre
                    <span ng-show="sortType == 'genre' && !sortReverse" class="fa fa-angle-down"></span>
                    <span ng-show="sortType == 'genre' && sortReverse" class="fa fa-angle-up"></span>
                </span>
            </td>
            <td class="headerLabel" ng-click="sortType = 'editors_choice'; sortReverse = !sortReverse">
                <span>
                    Editor's Choice
                    <span ng-show="sortType == 'editors_choice' && !sortReverse" class="fa fa-angle-down"></span>
                    <span ng-show="sortType == 'editors_choice' && sortReverse" class="fa fa-angle-up"></span>
                </span>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="game in games | orderBy:sortType:sortReverse | filter: {title: searchGame} ">
            <td>{{ game.title }}</td>
            <td>{{ game.platform }}</td>
            <td>{{ game.score }}</td>
            <td>{{ game.genre }}</td>
            <td>{{ game.editors_choice }}</td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>