.headerLabel {
    cursor: pointer;
}

.boldClass {
    font-weight: bold;
}

#inputDivId {
    padding: 10px;
}


#searchId {
    padding: 0.6rem;
}

.mainDiv {
    height: 100%;
    display: block;
    overflow: auto;
    width: 100%;
}

table {
    display: block;
    height: 80%;
}

thead {
    width: 99%;
    display: table;
    font-weight: bold;
    height: 40px;
}

tbody {
    overflow: auto;
    display: block;
    height: calc(100% - 40px);
}

tr {
    width: 100%;
    display: inline-table;
}

td {
    width: 20%;
}